<div id="caixa-principal" class="d-flex flex-column justify-content-center align-items-center gap-5 p-4">
    <div id="logo">
        <img src="../../assets/epis-texto.svg" alt="logo-epis">
    </div>

    <div id="login-box" class="d-flex flex-column align-items-center justify-content-center">
        <form [formGroup]="loginForm" (ngSubmit)="entrar()" class="w-100 d-flex flex-column gap-2" id="form">
            <header class="w-100 mb-5">
                <h1>Login</h1>
            </header>
            <!-- EMAIL -->
            <label class="w-100">
                <h3>Email</h3>
            </label>
            <input type="email" class="w-100" formControlName="email" placeholder="Digite seu email">

            <!-- ERRO EMAIL -->
            <small class="text-danger" *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                Email inválido
            </small>

            <!-- SENHA -->
            <div class="d-flex justify-content-between align-items-center w-100 mt-2">
                <label>
                    <h3>Senha</h3>
                </label>
                <a role="button" (click)="esqueciSenha()">Esqueceu a Senha?</a>
            </div>

            <input type="password" class="w-100" formControlName="password" placeholder="Digite sua senha">

            <!-- ERRO SENHA -->
            <small class="text-danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                Senha obrigatória
            </small>

            <!-- ERRO BACKEND -->
            <small class="text-danger mt-2" *ngIf="errorMessage">
                {{ errorMessage }}
            </small>

            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary w-100 epis-btn mt-3">
                Fazer Login
            </button>
        </form>

        <span class="text-center w-100 mt-3">
            Não tem conta?
            <a role="button" (click)="registrarConta()">Cadastre-se</a>
        </span>
    </div>
</div>