#caixa-principal{
    background-color: #1A1A1A;
    width: 100%;
    height: 100%;
}

h3{
    font-weight: 400;
}


h6{
    font-weight: 400;
}
#login-box{
    padding: 24px;
    border-radius: 10%;
    width: 600px;
    height: 700px;
    background-color: #FFFFFF;
}

#form{
    width: 400px !important;
}