<div id="caixa-principal">
    <header class="d-flex justify-content-between align-items-center p-4">
        <div id="logo">
            <img src="assets/images/episTexto.svg" alt="Logo" width="100">
            <img src="assets/images/episLogo.svg" alt="Logo" width="100">
        </div>

        <div class="transparent-text">-</div>

        <div id="nav-buttons" class="d-flex align-items-center">

            <div>
                <button  class="dropdown-toggle act-btns text-center" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-universal-access fs-3 white-color"></i>
                </button>

                <ul class="dropdown-menu" id="accessbility-bar">
                    <div class="form-check form-switch dropdown-item d-flex justify-content-between align-items-center">
                        <label class="form-check-label" for="switchCheckDefault">
                            Alto Contraste <strong id="transparent-text">aaaaaa</strong>
                        </label>
                        <input class="form-check-input" type="checkbox" (change)="ativarAltoContraste($event)" role="switch" id="switchCheckDefault">
                    </div>
                </ul>
            </div>

            <div>
                <button class="dropdown-toggle act-btns d-flex justify-content-center align-items-center" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-person-fill fs-3 white-color"></i>
                </button>

                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" role="button" (click)="abrirEditarUsuario()">Visualizar dados</a></li>
                </ul>
            </div>

        </div>
    </header>
    <router-outlet></router-outlet>
</div>