header {
    background-color: #1A1A1A;
    height: 100px;
    border-bottom: 1px solid #323232;
}

#nav-buttons {
    margin-left: 200px;
    gap: 30px;
}

.epis-color{
    color: #0B1EFE;
}

.white-color{
    color: white;
}

.act-btns{
    background-color: #0B1EFE;
    border: none;
    border-radius: 30%;
    height: 40px;
    width: 40px;
}

span{
    color: white;
}
ul{
    background-color: #414141;
}

ul li a{
    color: white !important;
}

label{
    color: white;
}

#transparent-text{
    color: transparent;
}

.dropdown-toggle::after {
    content: none;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus {
    background-color: transparent;
    color: white;
}



