<div class="modal-header">
    <h2 class="modal-title" id="modal-basic-title">Dados do usuário</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>

<div class="modal-body">
    <div class="d-flex justify-content-start gap-4 align-items-end">
        <h2>Nome: </h2>
        <h3>{{usuarioDados.nome | titlecase}}</h3>
    </div>
    <div class="d-flex justify-content-start gap-4">
        <h2>Email: </h2>
        <h3>{{usuarioDados.email}}</h3>
    </div>
    <div class="d-flex justify-content-start gap-4">
        <h2>Senha: </h2>
        <h3>{{usuarioDados.senha}}</h3>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Cancelar</button>
</div>