/* Modo normal */
:host {
  --bg-color: #1A1A1A;
  --text-color: #fff;
}

/* Modo de alto contraste */
:host(.high-contrast) {
  --bg-color: #fff;   /* fundo branco */
  --text-color: #000; /* texto preto */
}

.calendar-page{
    width: 100%;
    height: 100%;
    margin-top: 10vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.calendar-itens{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.calendar-header{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}
.calendar-header-item{
  cursor: pointer;
}
.calendar-main{
   width: 90%;
   max-width: 150rem;   /* ocupa toda largura do pai */
  margin: 0 auto;   /* centraliza horizontalmente */
  height: 100%;
  max-height: 100vw;
  background-color: var(--bg-color);
    color: var(--text-color);
}
.calendar-main ::ng-deep .fc {
  font-family: 'Inter', sans-serif;
  font-size: 1rem; /* base para todo o calendário */
}
.calendar-main ::ng-deep .fc-toolbar {
  background-color: #1A1A1A; /* fundo da barra de navegação */
  color: white; /* texto da barra */
  border-radius: 10px 10px 0 0;
}
.calendar-main ::ng-deep .fc-toolbar-title {
  color: white; /* título do mês */
}
.calendar-main ::ng-deep .fc-col-header-cell {
  background-color: #e0e0e0;
  color: #0B1EFE;                /* cor do texto */
  font-weight: bold;
  font-size: 1.5rem;          /* tamanho da fonte */
  font-family: 'Inter', sans-serif; /* fonte */
  height: 60px;               /* altura da célula */
  line-height: 60px;          /* centraliza verticalmente o texto */
  padding: 0;                 /* remove padding interno que pode atrapalhar */
  text-align: center;         /* centraliza horizontalmente */
}
.calendar-main ::ng-deep .fc-daygrid-day {
  height: 2rem;              /* altura da célula do dia */
}

.calendar-main ::ng-deep .fc-daygrid-day-number {
  font-size: 1.2rem;          /* tamanho do número do dia */
  font-family: 'Inter', sans-serif;
  color: white; 
  text-decoration: none;
}
.calendar-main ::ng-deep .fc-daygrid-day-number a {
  text-decoration: none; /* remove underline */
  color: inherit;        /* mantém a cor definida */
  cursor: default;       /* opcional: remove cursor de link */
}
.calendar-main ::ng-deep .fc-col-header-cell a {
  text-decoration: none; /* remove underline */
  color: inherit;
  cursor: default;
}
.calendar-main ::ng-deep .fc-day-today {
  background-color: #2f3d66; /* cor de fundo desejada */
  border-radius: 6px;
  color: white;      
}

:host ::ng-deep .fc-timegrid-slot-label-cushion {
  color: white !important;
  font-size: 1.5rem; 
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
:host ::ng-deep .fc-timegrid-slot-label-cushion{
  padding: 1rem;
}
:host ::ng-deep .fc-timegrid-axis {
  width: 5rem !important; /* ajuste aqui */
  
}

/* frame interno da coluna da hora */
:host ::ng-deep .fc-timegrid-axis-frame {
 
}