<div id="caixa-principal" class="d-flex justify-content-evenly align-items-center gap-5 p-5">
    <div id="logo">
        <img src="../../assets/epis-texto.svg" alt="logo-epis">
    </div>
    <div id="form" class="p-5">
        <a class="d-flex justify-content-end mb-5 text-secondary" routerLink="/auth/login">
            <i class="bi bi-x-lg fs-3"></i>
        </a>
        <h1 class="text-center">Seja bem-vindo! Estamos felizes por você se juntar a nós!</h1>
        <form [formGroup]="registerForm" (ngSubmit)="fazerRegistro()"
            class="d-flex flex-column p-5 justify-content-between gap-3">
            <input type="text" formControlName="nome" placeholder="Nome completo">
            <input type="email" formControlName="email" placeholder="Email">
            <input type="password" formControlName="senha" placeholder="Senha">
            <button type="submit" class="btn epis-btn">Cadastra-se</button>
        </form>
    </div>
</div>